* {
    box-sizing: border-box;
    font-family: Arial,sans-serif;
    font-weight: 550;
}

  body{
    /* background-color: rgb(30, 32, 34) !important; */
    background-image: url(/images/Shop/d2d8cqm-90b83968-8b23-4064-bdfb-21f3feed118b.png);
    background-repeat: no-repeat;
    background-size: cover;
    

  }
  /* logo */
  .logo-box{
    text-align: center;
    padding: 20px;
    background-color: black;
    
  }

.form {

    border-radius: 8px;
    border: 1px #ddd solid;
    background-color: #fff;
    margin-bottom: 26px!important;
    padding: 14px 18px;
    line-height: 19px;
    text-align: left;
    margin: 0 auto;
    width: 350px; 
    
    
}
a{
    text-decoration: none !important;
}
.font {
  margin-top: 20px;
}

.font2 {
    margin-top: 14px;
}

#login {
    margin-top: 14px;
}

.new {
    text-align: center;
    color: rgb(203, 98, 7);
}
/* SparkLine button */
.create {
    border-radius: 8px;
    border: 1px #ddd solid;
    background-color: rgb(203, 98, 7);;
    padding: 14px 18px;
    line-height: 19px;
    text-align: center;
    margin: 0 auto;
    width: 300px; 
    color: #fff;
    border: none;
}
/* SparkLine link */
a:visited,a:active,.a:link {
    color: white !important;
    background-color: transparent !important;
    text-decoration: none !important;
  }

.form-control{
    width: 100%;
    margin-top: 8px;
}
/* Form error starts */
#wrongUID,#wrongPass{
    display: none;
  }
  
.wrongUID,.wrongPass{
    font-size: 12px;
    color: red;
  } 
  /* Form error ends */
  /* Button */
.btn{
    background-color: rgb(203, 98, 7) !important;
    color: white !important;
    border: none;
    width: 100%;
    height: 30px;
    padding-bottom: 30px !important;
}
footer{
    text-align: center;
    bottom: 0;
    padding-top: 80px;
    /* padding-bottom: 5rem; */
    color: #fff;
    background-color:rgb(11, 12, 12);
  padding-bottom: 300px;
}