#navcolor {
  /* background-color: rgba(255, 148, 148) !important; */
  background-color: rgb(30, 32, 34) !important;
  font-size: 190%;
  font-family: Verdana; 
}
/* nav bar spacing */
.nav-spacing {
  padding-left: 120px;
  padding-right: 120px;
}  
/* burger menu change color */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28203, 98, 7, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}
.navbar-toggler{
  border: 1px solid rgb(203, 98, 7) !important;
}
/* dropdown menu color */
.dropdown-menu {
  background-color: rgb(30, 32, 34) !important;
  border: none;
}
.dropdown-item {
  color: #fff !important;
  font-size: 190%;
}
.dropdown-item:hover{
  background-color: #000000 !important;
}
/* dropdown menu color ends */

/* changing navbar font color */
.nav-link{
color: #fff !important;
}
/* body */
body{
/* background-image: url(https://i.makeagif.com/media/4-08-2017/tx3DrJ.gif);
background-attachment: fixed;
background-size: cover;
background-repeat: no-repeat;  */
padding-top: 69px;
font-family: Verdana;
background-color: #000000 !important;
}
/* hyperlink */
a{
text-decoration: none;
color: #fff;
}
/* box-border products start */
#box-border{
  /* border: 2px solid red; */
  text-align: center;
  background-color: black;
  color: #fff;
  margin: 0;
  padding: 30px;
  border-radius: 20px;
}
/* box-products */
.box-products{
  /* border: 2px solid red; */
  padding: 30px;
}
/* box-border hover */
#box-border:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: rgb(203, 98, 7);
      transition: 0.2s;
      transform: scale(1.03);
}
#box-border2{
  /* border: 2px solid red; */
  text-align: center;
  background-color: black;
  color: #fff;
  margin: 0;
  padding: 0;
}
.img-sizing{
  width: 1500px; 
  height: 1121px;
  object-fit: cover;
}
/* box-border products end */
/* blog post */
#box{
  /* border: 2px solid red; */
  text-align: center;
  background-color: black;
  color: #fff;
  margin: 0;
  padding: 30px;
  border-radius: 20px;
  font-size: 80px;
}
.border-blog{
  color: #fff;
}
/* border-blog */
#border-blog{
  color: #fff;
  /* border: 2px solid red; */
  padding: 20px;
}

/* blog button */
.btn{
  background-color: rgb(203, 98, 7) !important;
  color: #fff !important;
  border: none !important;
  margin-bottom: 10px !important;

}



/* scroll up */
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  border: none;
}
/* scroll up ends */
footer{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 10px;
  color: #fff;
  background-color:rgb(30, 32, 34);

}
/* scale down the card */
.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit:scale-down;
}

.card-body{
  background-color: rgb(30, 32, 34);
  color: rgb(203, 98, 7);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  
}
.card{
  border: none;
  border-radius: 10px;
  /* border bottom to remove excess border */
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.card:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        transition: 0.3s;
        transform: scale(1.05);
}


.card-header, .card-footer{
  background-color: rgb(30, 32, 34);
  color: #fff;
  font-size: 25px;
}

#box-contain{
  /* border: 2px solid red; */
  color: #fff;
  /* background-color: rgb(203, 98, 7); */
  /* background-image: linear-gradient(to right, rgb(248, 157, 78,0.1), rgba(203, 98, 7,1)); */
  /* background-image: url(https://media.tenor.com/6x4DXggx_i8AAAAM/orange-design.gif); */
  background-image: url(/images/Shop/headset11.jpg);
  background-repeat: no-repeat;
  background-position-x: right;
  
  backdrop-filter: blur(8px);
  text-align: left;
  /* text-align: center; */
  padding-top: 20px;
}
.font-box{
  font-size: 60px;
  padding-bottom: 30px;
  font-weight: bold;
}
.font-box2{
  font-size: 20px;
  padding-bottom: 10px;
  padding-top: 20px;
  font-weight: bold;
}
.box-font{
  margin: 20px;
  
}
